<!-- <div class="row">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label for="address">Address:</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
</div> -->
<div class="container">
    <h1>Content Projection</h1>
 <app-product>
    <h3 class="title">IPhone</h3>
    <button class="btn btn-more">Show More in Iphone</button>
 </app-product>
 <app-product>
    <h3 class="title">Samsung</h3>
    <button class="btn btn-more">Show More in Samsung</button>
 </app-product>
</div>